<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- File path will be stored csv file-->
    <add key="FilePath" value="C:\\USBDD\\" />
    <!-- File name-->
    <add key="FileName" value="USBDD" />
  </appSettings>
</configuration>